/*************************************  PART 1 ****************************************/

#part-1 > .container {
    max-width: 1140px;
    width: 67.5%;
    background-color: #97C93D;
    padding: 0;
    border-radius: 0.625rem;
    border-radius: 0.625rem;
}



/******* CONTATO CONTENT *******/

#contato .row {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.8rem;
}

#contato .row div:nth-last-of-type(2) {
    width: 70%;
    text-align: center;
}

#contato .row div:nth-child(2) {
    width: 55%;
    display: flex;
    justify-content: space-around;
}

#contato .row div:nth-child(2) p {
    margin: 0 !important;
}

#contato #email-list, #social-list {
    position: relative;
    border: 2px solid white;
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 2rem;
}

#contato #email-list img { 
    border-radius: 2px;
    position: absolute;
    left: -10px;
    top: -11px;
}

#contato #social-list img {
    border-radius: 2px;
    position: absolute;
    left: -10px;
    top: -14px;
}

#contato #social-list a {
    color: black !important;
}



/******* FOOTER *******/
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
}

footer {
    position: absolute;
    /*position: fixed;*/
}



/*************************************  @MEDIA  ****************************************/

@media (min-width: 1000px) {

    #social-list p:hover {
        font-style: italic !important;
        transition: 1s all;
        transform: scale(1.2);
    }

}

@media (max-width: 1199px) {

    #part-1 > .container {
        width: 90% !important;
    }
    
    #part-1 p {
        margin-bottom: 2% !important;
    }
    


    /******* CONTATO CONTENT *******/

    #contato .row div:nth-child(2) {
        flex-direction: column !important;
        text-align: center !important;
        padding-left: 5px;
        padding-right: 5px;
    }

    #contato .row div:nth-last-of-type(2) {
        width: 100% !important;
    }

    #contato .row div:nth-child(2) {
        width: auto;
    }

    footer {
        /*position: initial !important;*/
    }
    
}