/*******************PART 1*******************/

#part-1 .container {
    max-width: 1250px;
    width: 80%;
    overflow: hidden;
    background-color: black;
    border-radius: 1.25rem;
}

#part-1 img {
    width: 91%;
}

#part-1 p {
    color: white;
    font: italic 1.6875rem/1.5 'Roboto', sans-serif;
    margin: 16px 0;
    text-align: left;
}


#part-1 .col-xl-3 {
    text-align: center;
}



/*******************PART 2*******************/

#part-2 > .container {
    max-width: 1140px;
    width: 67.5%;
    background-color: #97C93D;
    padding: 0;
    border-radius: 0.625rem;
    border-radius: 0.625rem;
}

#nav-content {
    max-width: 93.5% !important;
}



/*******NAV TAB MENU*******/

#nav-tab-menu {
    max-width: 100% !important;
    background-color: black;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
}

#part-2 #nav-tab {
    padding: 1.5% 1rem !important;
}

#part-2 .nav-link {
    padding: 0.5rem !important;
    font: normal 1rem 'Roboto', sans-serif !important;
    border-radius: 0.25rem !important;
}

#nav-tab a.active {
    background-color: transparent !important;
}

#nav-tab a {
    color: white;
}

#part-2 .nav-tabs {
    border-bottom: none !important;
}



/***************ALIENS CARDS - TEMPLATE***************/

.tab-pane .col-lg-12, #alien-card h4 {
    color: black;
    text-align: center;
}

#alien-card > img + img {
    position: absolute;
    top: 6%;
    left: 19% !important;
    width: 60% !important;
    /*    display: block;
    margin-left: auto;
    margin-right: auto;*/
}

#part-2 #nav-tabContent div.col-lg-12 h1 {
    font: normal 2.5rem 'Roboto', sans-serif;
}

#part-2 #nav-tabContent div.col-lg-12 p {
    font: normal 1rem/1.5 'Roboto', sans-serif;
}

#part-2 #alien-card h4 {
    margin-top: 0.5rem;
    font: normal 1.25rem 'Roboto', sans-serif;
}

#part-2 #alien-card {
    margin-bottom: 4% !important;
}

#part-2 #alien-card a:hover {
    text-decoration: none;
    
}

#part-2 #alien-card h4:hover {
    font-weight: bold;
    font-style: italic;
}

#part-2 #alien-card img:hover {
   cursor: pointer;
   /*cursor: url('../img/Diamante-cursor-1.png'), auto;*/
}

#alien-card:hover {
    transition: 1s all;
    transform: scale(1.2);
    z-index: 5 !important;
}

#part-2 #nav-tabContent hr {
    border-top: 2px solid rgb(0 0 0 / 37%) !important;
}



/***************CLASSIC BEN ALIEN CARD***************/

#part-2 .four-arms img:nth-child(2) {
    top: 4% !important;
}

#part-2 .ripjaws img:nth-child(2) {
    top: 11% !important;
}

#part-2 .cannonbolt img:nth-child(2) {
    top: 14% !important;
    width: 72% !important;
    left: 14% !important;
}
#part-2 .snareoh img:nth-child(2) {
    top: 4% !important;
    width: 64% !important;
}

#part-2 .heatblast img:nth-child(2) {
    top: 3% !important;
}

#part-2 .wildvine img:nth-child(2) {
    width: 54% !important;
    top: 2% !important;
    left: 23% !important;
}

#part-2 .ditto img:nth-child(2) {
    width: 43% !important;
    top: 4% !important;
    left: 28% !important;
}

#part-2 .ghostfreak img:nth-child(2) {
    width: 71% !important;
    left: 13% !important;
}

#part-2 .upchuck-perk img:nth-child(2) {
    left: 24% !important;
    top: 11% !important;
    width: 56% !important;
}

#part-2 .stinkfly img:nth-child(2) {
    top: -6% !important;
    width: 67% !important;
    left: 16% !important;
}

#part-2 .blitzwolfer img:nth-child(2) {
    width: 75% !important;
    top: 12% !important;
    left: 10% !important;
}

#part-2 .greymatter img:nth-child(2) {
    width: 52% !important;
    top: 6% !important;
    left: 26% !important;
}

#part-2 .waybig img:nth-child(2) {
    width: 37% !important;
    top: 5% !important;
    left: 32% !important;
}

#part-2 .xlr8 img:nth-child(2) {
    top: 4% !important;
    left: 23% !important;
}



/***************ALIEN FORCE BEN ALIEN CARD***************/

#part-2 #nav-força-alienigena .alienxaf img:nth-child(2){
    width: 33% !important;
    top: 4%;
    left: 32% !important;
}

#part-2 #nav-força-alienigena .jetrayaf img:nth-child(2){
    width: 68% !important;
    left: 17% !important;

}

#part-2 #nav-força-alienigena .necrofriggianbabyaf img:nth-child(2){
    width: 65% !important;
    top: 20%;
    left: 17% !important;
}

#part-2 #nav-força-alienigena .bigchillaf img:nth-child(2){
    width: 47% !important;
    left: 24% !important;
}

#part-2 #nav-força-alienigena .echoechoaf img:nth-child(2){
    width: 38% !important;
    top: 7% !important;
    left: 33% !important;
}

#part-2 #nav-força-alienigena .lodestaraf img:nth-child(2){
    top: 7% !important;
    left: 26% !important;
    width: 43% !important;
}

#part-2 #nav-força-alienigena .spidermonkeyaf img:nth-child(2){
    top: 15% !important;
    left: 21% !important;
}

#part-2 #nav-força-alienigena .rathaf img:nth-child(2){
    left: 22% !important;
    width: 57% !important;
}

#part-2 #nav-força-alienigena .cannonboltaf img:nth-child(2){
    top: 14% !important;
    left: 15% !important;
    width: 70% !important;
}

#part-2 #nav-força-alienigena .diamondheadaf img:nth-child(2){
    left: 24% !important;
    width: 50% !important;
}

#part-2 #nav-força-alienigena .murkupchuckaf img:nth-child(2){
    top: 8%;
    left: 23% !important;
    width: 57% !important;
}

#part-2 #nav-força-alienigena .waybigaf img:nth-child(2){
    left: 31% !important;
    width: 34% !important;
}



/***************ULTIMATE ALIEN BEN ALIEN CARD***************/

#part-2 #nav-supremacia-alienigena .ampfibianua img:nth-child(2){
    top: 8%;
    left: 25% !important;
    width: 48% !important;
}

#part-2 #nav-supremacia-alienigena .waterhazardua img:nth-child(2){
    top: 7%;
    left: 26% !important;
    width: 47% !important;
}

#part-2 #nav-supremacia-alienigena .armodrilloua img:nth-child(2){
    top: 12%;
    left: 20% !important;
}

#part-2 #nav-supremacia-alienigena .chamalienua img:nth-child(2){
    left: 22% !important;
    width: 52% !important;
}

#part-2 #nav-supremacia-alienigena .clockworkua img:nth-child(2){
    top: 10%;
}

#part-2 #nav-supremacia-alienigena .juryriggua img:nth-child(2){
    left: 21% !important;
}

#part-2 #nav-supremacia-alienigena .terraspinua img:nth-child(2){
    top: 16%;
    left: 18% !important;
    width: 65% !important;
}

#part-2 #nav-supremacia-alienigena .ultimatecannonboltua img:nth-child(2){
    top: 12% !important;
    left: 15% !important;
    width: 70% !important;
}

#part-2 #nav-supremacia-alienigena .ultimatewildmuttua img:nth-child(2){
    top: 16% !important;
}

#part-2 #nav-supremacia-alienigena .ultimatebigchillua img:nth-child(2){
    left: 30% !important;
    width: 36% !important;
}

#part-2 #nav-supremacia-alienigena .ultimateechoechoua img:nth-child(2){
    top: 8%;
    left: 29% !important;
    width: 43% !important;
}



/*************************************  @MEDIA  ****************************************/

@media  (max-width: 1199px) {

    #part-1 img {
        width: 50%;
        margin-top: 2% !important;
    }

    #part-1 p {
        font-size: clamp(1.2rem, 1.6rem, 1.6875rem);
        text-align: center !important;
        margin-bottom: 2% !important;
    }

    .arroba-media-modal .modal .modal-body .row div {
        margin-bottom: 7% !important;
    }
    
}