/*********************************HEADER****************************************/
header .container-fluid > .row {
    overflow: hidden;
}


/*********************************MAIN******************************************/

#part-1 .container {
    overflow: hidden;
}


/********************************MAIN BEN'S ALIEN CARDS*************************************/

.tab-pane .col-lg-12, #alien-card h4 {
    color: black;
    text-align: center;
}


#alien-card > img + img {
    position: absolute;
    top: 6%;
    left: 16% !important;
    width: 60% !important;
}

/*#alien-card h4 {
    text-align: center;
}*/
