/*********************************HEADER****************************************/

header .container-fluid {
    background-color: #627612;
}

header .container-fluid > .row {
    overflow: hidden;
}

header nav {
    padding: 5px 16px !important;
}

header .navbar {
    background-color: #2A4D2C !important;
}

header ul a {
    color: black !important;
}

header ul a:hover {
    color: #969632 !important;
}



/*********************************MAIN******************************************/



/*******************PART 1*******************/

#part-1 .container {
    max-width: 1250px;
    width: 80%;
    overflow: hidden;
    background-color: black;
    border-radius: 1.25rem;
}

#part-1 p {
    color: white;
    font: italic 1.3rem/1.5 'Roboto', sans-serif;
    margin: 16px 0;
    text-align: center
}

#part-1 img {
    width: 212px;
}

#part-1 .col-xl-3 {
    text-align: center;
}



/*******************PART 2*******************/

#part-2 > .container {
    max-width: 1140px;
    width: 67.5%;
    background-color: #97C93D;
    padding: 0;
    border-radius: 0.625rem;
    border-radius: 0.625rem;
}



/*******NAV TAB MENU*******/

#nav-tab-menu {
    max-width: 100% !important;
    background-color: black;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
}

#nav-tab {
    padding: 1.5% 1rem !important;
}

#part-2 .nav-link {
    padding: 0 !important;
}

#nav-tab a.active {
    background-color: transparent !important;
}

#nav-tab a {
    color: white;
}

.nav-tabs {
    border-bottom: none !important;
}



/*******ALIENS CARDS - TEMPLATE*******/

.tab-pane .col-lg-12, #alien-card h4 {
    color: black;
    text-align: center;
}

#alien-card > img + img {
    position: absolute;
    top: 6%;
    left: 16% !important;
    width: 60% !important;
    /*    display: block;
    margin-left: auto;
    margin-right: auto;*/
}

#part-2 #nav-tabContent div.col-lg-12 h1 {
    font: normal 2.5rem 'Roboto', sans-serif;
}

#part-2 #nav-tabContent div.col-lg-12 p {
    font: normal 1rem/1.5 'Roboto', sans-serif;
}

#part-2 #nav-tabContent #alien-card {
    font: normal 1.25rem 'Roboto', sans-serif;
}

#part-2 #alien-card h4 {
    margin-top: 0.5rem;
}



/*******NAV TAB CONTENT*******/

#nav-content {
    max-width: 93.5% !important;
}



/*********************************FOOTER******************************************/

footer {
    background-color: #f1dfdf;
}

footer p {
    margin: auto;
    color: black;
    font: 400 'Roboto', sans-serif;
}

footer a{
    color: black;
    font-style: italic;
}

footer a:hover {
    color: #3d543d;;
    font-weight: bold;
}