/********************************* HEADER ****************************************/

header .container-fluid {
    background-image: url("/img/cover-background.png");
    background-color: black;
}

header .container-fluid .row img {
    height: 190px;
    width: 2100px;
    object-fit: none;
    /*object-position: 80% 50%;*/
    object-position: 139% 50%;
}

header .container-fluid > .row {
    overflow: hidden;
    
}

header nav {
    padding: 5px 16px !important;
}

header .navbar {
    background-color: #16712a !important;
    /*background-color: #1b5628d1 !important;*/
    /*background-color: #739c29 !important;*/
}

header ul a {
    color: white !important;
}

header ul a:hover {
    color: black !important;
    font-weight: 600 !important;
}

.dropdown-menu {
    text-align: center !important;
    background-color:#6fb37e !important;
    border: none !important;
}

nav li.dropdown {
    text-align: center;
}



/********************************* FOOTER ******************************************/


footer {
    /*background-color: #f1dfdf;*/
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-top: 3rem;
}

footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "Ben10-font";
    src: url(BADABB_.TTF);
}

footer h3 {
    font-family: "Ben10-font" !important;
    font-size: 36px !important;
    /*font-family: "Satisfy", sans-serif;*/
}

footer #copyright {
    text-align: center;
    font-size: 14px !important;
}

footer #copyright a {
    color: black !important;
}

footer #credits {
    display: flex;
    align-items: center;
}

footer #credits p {
    font-size: 13px;
    margin: auto;
    color: black;
    font: normal 13px 'Roboto', sans-serif;
}

footer #credits a{
    color: black;
    font-style: italic;
}

footer #credits a:hover {
    color: #3d543d;
    font-weight: bold;
    
}

footer .container #credits div:nth-child(2):hover {
    transition: 1.2s all;
    transform: scale(1.2);
}

