/************************TEMPLATE MODAL*************************/

.alienModal .modal-dialog {
    max-width: 1140px;
    width: 90%;
    overflow: hidden;
}

.alienModal {
    padding: 0 !important;
}

.alienModal .modal-body .first-img-modalBody-row{
    margin-bottom: 10%;
}

.alienModal .modal-title {
    font: normal 1.25rem 'Roboto', sans-serif;
}

.alienModal .modal-body  {
    text-align: center !important;
}


.web-alien-modal .modal-body .col-xl-12 hr {
    width: 80% !important;
}

.web-alien-modal .modal-body .container .container {
    width: 80% !important;
}

.web-alien-modal .modal #nav-tab-menu-modal.container {
    width: 80% !important;
    text-align: center !important;
}

.web-alien-modal .modal #nav-tab-menu-modal h3 {
    font: normal 1.5rem 'Roboto', sans-serif;
}

.web-alien-modal .modal #nav-tab a {
    color: black;
    font: normal 1rem 'Roboto', sans-serif;
}

.web-alien-modal .modal #nav-content-modal .tab-pane .row > .row {
    margin-bottom: 0 !important;
}

.web-alien-modal .modal #nav-content-modal .tab-pane .row div{
    margin-bottom: 5% !important;
    text-align: center !important;
}

.web-alien-modal .modal #nav-content-modal.container {
    width: 80% !important;
}


.web-alien-modal .modal .modal-header .card-body{
    padding: 1.5rem;
}

.web-alien-modal .modal .modal-header .card-body [id] {
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0.3125rem;
    height: fit-content;
    box-shadow: 10px 12px 10px grey;
}

.web-alien-modal .modal .modal-header .card-body #alienBio {
    margin-right: 1.4rem !important;
}

.web-alien-modal .modal .modal-header .card-body .PowerAbilityModalCarousel {
    width: 41% !important;
    max-width: 280px !important;
    height: fit-content;
    right: 3% !important;
}

.web-alien-modal .modal .modal-header .card-body .PowerAbilityModalCarousel .carousel-caption {
    padding: 0 !important;
    bottom: 0 !important;
}



/*************************CLASSIC BEN ALIENS***************************/

#Classic-Ben-Aliens-Modal #ClassicBenEyeGuyModal .modal-body .row .col-xl-12 img{
    width: 23% !important;
}

#Classic-Ben-Aliens-Modal #ClassicBenFourArmsModal .modal-body .container div.row:nth-child(2) .col-xl-3 img {
    width: 320px !important;
}

#Classic-Ben-Aliens-Modal #ClassicBenFourArmsModal #nav-content-modal #nav-end-game-fourArms .row:nth-child(2) .col-xl-5:nth-child(2) img {
    width: 362px !important;
}



/*************************************  @MEDIA  ****************************************/

@media  (max-width: 575px) {

    .arroba-media-modal .modal-dialog {
        margin-left: 5% !important;
    }
    
}

@media (min-width: 1024px) {

    .web-alien-modal #ClassicBenCannonBoltModal .modal-body .row img {
        margin-bottom: 20px !important;
    }
}

@media  (max-width: 1199px) {

    .arroba-media-modal #UltimateAlienRipJawsModal .modal-body .row:nth-child(3) div:nth-child(2) img {
        margin-top: 0px !important;
    }
    
}



