/************************TEMPLATE MODAL*************************/

.alienModal .modal-dialog {
    max-width: 1140px;
    width: 90%;
    overflow: hidden;
}

.alienModal {
    padding: 0 !important;
}

.alienModal .modal-body .first-img-modalBody-row{
    margin-bottom: 10%;
}

.alienModal .modal-title {
    font: normal 1.25rem 'Roboto', sans-serif;
}

.alien-center-modal-body-container {
    text-align: center !important;
}




.alien-modal .modal #nav-tab-menu-modal.container {
    width: 80% !important;
    text-align: center !important;
}

.alien-modal .modal #nav-tab-menu-modal h3 {
    font: normal 1.5rem 'Roboto', sans-serif;
}

.alien-modal .modal #nav-tab a {
    color: black;
    font: normal 1rem 'Roboto', sans-serif;
}

.alien-modal .modal #nav-content-modal .tab-pane .row > .row {
    margin-bottom: 0 !important;
}

.alien-modal .modal #nav-content-modal .tab-pane .row div{
    margin-bottom: 5% !important;
    text-align: center !important;
}

.alien-modal .modal #nav-content-modal.container {
    width: 80% !important;
}





/*************************CLASSIC BEN ALIENS***************************/

#Classic-Ben-Aliens-Modal #ClassicBenEyeGuyModal .modal-body .row .col-xl-12 img{
    width: 23% !important;
}

#Classic-Ben-Aliens-Modal #ClassicBenFourArmsModal .modal-body .container div.row:nth-child(2) .col-xl-3 img {
    width: 320px !important;
}

#Classic-Ben-Aliens-Modal #ClassicBenFourArmsModal #nav-content-modal #nav-end-game-fourArms .row:nth-child(2) .col-xl-5:nth-child(2) img {
    width: 362px !important;
}



/*************************************  @MEDIA  ****************************************/

@media  (max-width: 575px) {

    .arroba-media-modal .modal-dialog {
        margin-left: 5% !important;
    }
    
}




